# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages used by Data Scientist are:
1. Python 
2. R
3. SQL
4. C++
5. Java etc.

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. scikit-learn
4. mathplotlib
5. TensorFlow
6. PyTorch etc...

|Data Science Tools|
|----|
|RStudio|
|Jupyter|
|Anoconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List of popular languages in DataScience.
* List of popular libraries in DataScience.
* List of well known tools in Data Science.
* How to provide command in the cell.

## Author

N SWATHI